:root{
  --navbar-height:60px;
  --dashboard-color: rgb(54 49 70);;
  --sidebar-btn-color:rgb(84 83 90);
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.dashboard_navbar{
  z-index: 999;
  align-items: center;
  background-color: var(--dashboard-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
}

.dashboard_navbar_main {
  height: var(--navbar-height);
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center; 
}

.dashboard_logo{
  display: flex;
}
.dashboard_logo h2{
  color: aqua;
  font-weight: 900;
  font-size: 24px;
}
.dashboard_top_items{
  display: flex;
}


/* sidebar css */
.dashboard_sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: var(--navbar-height);
  left: 0;
  background-color: var(--dashboard-color);
  overflow-x: hidden;
  padding-top: 20px;
  border-top: 1px solid gray;
}
.dashboard_main{
  margin-top: var(--navbar-height);
  margin-left: 160px;
}
.sidebar_btn{
  background-color:var(--dashboard-color) !important ;
  border-radius: 0 !important;
  color: rgb(226, 226, 226) !important;
  text-align: left !important;
}
.sidebar_btn:hover{
  background-color: var(--sidebar-btn-color) !important;
  opacity: .9;
  color: #fff !important;
}
.sidebar_btn:focus,.sidebar_btn:active,.sidebar_btn.active{
  background-color: var(--sidebar-btn-color) !important;
  color: #fff !important;
}

.ui.inverted.teal.table {
  background-color: #434c64!important;
  color: #fff!important;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  height: auto;
}

.scrolling{
  max-height: 250px;
  position: relative;
  overflow-y: scroll;
}

/*iş ilanı detay css*/
.job-detail-header{
  background-color: rgb(167 193 215 / 30%);
}
.company-logo img{
  border-radius: 8px;
}
.info-detail >div{
  margin: 4px 0px;
  padding-left: 20px;
}
.meta-detail>div{
  padding-right: 15px;
}
.job-content-detail{
  padding-top: 50px;
}

body{
  font-family: 'Sofia Pro', sans-serif;
                                                
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75;
  color: #77838F;
  background: #fff !important;
  overflow-x: hidden;
}

.action{
  text-align: right !important;
}
.deadline{
  margin-bottom: 15px;
}
.action .btn{
  color: white;
  min-height:40px;
  border-radius: 7px;
}
.btn-apply{
  background-color:#1967D2;
  min-width: 150px;
  font-size: 20px;
}

.btn-apply:hover{
  background-color: #0d4da7;

}

.btn-favorite{
  background-color: rgb(167 193 215 / 50%);
  
}

.none-list{
  list-style: none;
  padding: 0 !important;
}

.widget-icon{
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.widget{
  background-color: rgb(167 193 215 / 30%);
  padding: 20px;
  border-radius: 10px;
}

.btn-website{
  color: #1967D2;
  background-color: rgba(25, 103, 210, 0.07);
  width: 100%;
  min-height: 40px;
  border-radius: 7px;
}
.btn-website:hover{
  background-color: #1967D2;
  color: white;
}

.top-right{
  position: absolute;
  top: 5px;
  right: 5px;
}

/*özgeçmiş css*/

.resume{
  background-color: rgb(243, 243, 243)
}
.content-header {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: rgb(217 217 217);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 13px 15px 0 rgb(0 0 0 / 2%);
}

.title {
  color: #666;
  font-size: 20px;
  text-align: left;
}

.content-body {
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  background-color: #f8f9fa!important;
  border-radius:0 0 10px 10px ;
}

.container {
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.info-msg-header{
    font-size: 12px;
    color: #999;
    display: block;
    line-height: 12px;
}

.info-msg-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    word-wrap: break-word;
    display: block;
}

.info-content>div{
  margin: 15px 0;
}

.profile-photo{
  background-color: #1967D2;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 100%;
}

.logo{
  width: 150px;
  height: 150px;
  margin: auto;
}

.education-logo{
  width: 130px;
  height: 130px;
  margin: auto;
  margin-top: 5px;
  border-radius: 100%;
}

.btn-added{
  color: #666;
  background-color: #fff;
  font-size: medium;
  border-radius: 10px;
  border: 1px solid gray;
}

.message-content {
  border: 3px solid transparent !important;
  transition-duration: 0.3s !important;
}

.message-content:hover {
  border: 3px dashed  rgba(128, 128, 128, 0.335) !important;
  cursor: pointer;
}

/*Employer css*/
.pt-6{
  padding-top: 60px;
}

/*custom*/
.ui.form .field input{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color .1s ease,border-color .1s ease;
}

/* jobSeeker job application css*/

.my-apply-container{
  width: 100%;
}
.my-apply-container .container{
  padding: 0;
}
.my-apply-container .container .main-container>div {
  margin-bottom: 16px;
  background-color: #fff;
}
.my-apply-section{
  padding: 16px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.my-apply-container .container .main-container>div h2 {
  font-family: Roboto-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: 1.75rem;
  text-align: center;
  color: #333;
  margin-bottom: 0;
}
.job-application-list {
  justify-content: space-between;
}
.job-application-list .jal-box {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  width: 49%;
  margin-bottom: 8px;
}
.job-application-list .jal-top {
  margin-bottom: 8px;
  padding: 10px;
}
.job-application-list .jal-left {
  padding-right: 0;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.job-application-list .jal-logo {
  display: inline-block;
  width: 48px;
  height: 48px;
  box-sizing: unset;
}
.job-application-list .jal-logo figure {
  border: 1px solid #e4e4e4;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  margin: 0;
  position: relative;
}
.job-application-list .jal-logo figure img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.job-application-list .jal-center {
  padding-right: 0;
  padding-left: 8px;
}
.job-application-list .jal-firm-name,.job-application-list .jal-title {
  color: #333;
  line-height: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  min-height: 1.125rem;
  max-height: 1.125rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  margin-bottom: 3px;
}
.job-application-list .jal-firm-name {
  font-size: .75rem;
  margin-bottom: 2px;
}
.job-application-list .jal-date {
  font-family: Roboto-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-size: .625rem;
  line-height: .625rem;
  color: #878787;
}
.job-application-list .jal-date span {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/* Admin dashboard css */

.profile-btn {
  border-radius: 50% !important;
  cursor: pointer;
  height: 45px !important;
  width: 45px !important;
}

.ui.dropdown>.dropdown.icon:before {
  content: '\f0d7';
  color: whitesmoke;
  font-size: 20px !important;
}